{% extends 'base1.html' %}
{% block title %}
<br/>
    <h2> Connexion a WAMY_BANK </h2>
{% endblock %}
{% block content %}

<aside>
    <p>
     <center>
       {% if message %}
          <h2 class='rouge'>{{message}}</h2>  
       {% endif %}
      
          <form method="post">
              {% csrf_token %}
              <fieldset>
                  <legend> Connexion </legend>
                  <table>
                      <tr>  
                          <td> Login :  </td>
                          <td><input type='text' value='username' title='Login' name='username'></input> </td>
                      </tr>
                      <tr>  
                          <td> Mot de Pass : </td>
                          <td>  <input type='password' value='password' title='password' name='password'></input> </td>
                      </tr>
                      <tr>  
                          <td>   </td> 
                          <td>  <input type="submit" value="Se connecter "></td>
                      </tr>
                  </table>
              </fieldset>
          </form>        
      </center>
    </p>
 </aside> 

{% endblock %}


