{% extends 'base.html' %}
{% block title %}
    <h2>Créer un nouvel Etudiant</h2>
{% endblock %}
{% block content %}

    {% if message %}
        <h3>{{message}}<h3>
        <a href="{% url 'create_etudiant' %}" class="nav-link">Ajoutez  un nouvel Etudiant </a> 
              <p> ou </p>
        <a href="{% url 'liste_Etudiant' %}" class="nav-link">Affichez la liste des Etudiants </a>     
    {% else %}
            
                <h2 class='enteteFormlaire'>Créer un nouvel Etudiant</h2>
            
            <form method="post">
               
                                {% csrf_token %}
                                {{ formulaire.as_p }}
                            <input type="submit" value="Ajouter" >
               
            </form>
    {% endif %}

     <!-- affiche les errors du formulaire -->
    {%if formulaire.errors %}
            <div class='erreur'>
                <ul>
                    {% for error in formulaire.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
    {% endif %}           

    
{% endblock %}