{% extends "base.html" %}

{% block title %}
<!-- if nbr__gt=1 veut dire si nbr >1  -->
    <h2> L etudiant {{etu}} Frequente dans {{nbr}} Universite(s) </h2>
{% endblock %} 

{% block content %}
<table>
    <caption> <h3>Liste des Universites </h3> </caption>
    <thead>
        <tr>
            <th> Non Universite</th>
            <th>Type Universite</th>
            <th>Etudiant Universite</th>

        </tr> 
    </thead> 
    <tbody>
        <ol>
            
            {% for univer in sesUniversites %}
                <tr>
                        <td> {{ univer.nomUniver}} <br></td>
                        <td> {{ univer.typeUniver  }}<br></td>
                        <th> <a href="{% url 'listeEtu_Univer'  univer.id   %}" class="nav-link"> liste de ses Etudiants </a> </th>
                </tr>
            {% endfor %}
        </ol> 
    </tbody>        
 </table>

 <br/>
 <a href="{% url 'create_universite' %}" class="nav-link">Ajoutez  une nouvellle Universite </a> 


{%endblock%}
