{% extends 'base.html' %}
{% block title %}
    <h2>Modifier l article</h2>
{% endblock %}
{% block content %}

    {% if message %}
        <h3>{{message}}<h3>
        <a href="{% url 'create_article' %}" class="nav-link">Ajoutez  un nouvel Article </a> 
              <p> ou </p>
        <a href="{% url 'liste_article' %}" class="nav-link">Affichez la liste Articles </a>     
    {% else %}
            <form method="post">
                {% csrf_token %}
                {{ formulaire.as_p }}
            <button type="submit">Valider</button>
            </form>
    {% endif %}
    
{% endblock %}